*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    
}
.page1{
    height: 100vh;
    width: 92vw;
    /* background-color: rgb(65, 0, 97); */
    /* border: 0.5vh solid rgb(255, 59, 59); */
}
.page1_section1{
height: 10vh;
width: 92vw;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: space-between;
}
.page1_section1_part1 h1{
  padding-left: 15vh;
}
.page1_section1_part2 ul{
    display: flex;
    gap: 8vh;
    list-style: none;
    font-size: 2.5vh;
}
.page1_section1_part3 {
    padding-right: 15vh;
    }
.page1_section1_part3 .navP_btns{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
    border: none;
    border-radius: 1vh;
}

#Sign_In{
background-color: azure;
color: black;
margin-right: 1vh;
border: 0.4vh solid rgb(239, 99, 236) ;
}
#Free_trial{
   background-color: rgb(239, 99, 236);
}





/* page1_section2 */

.page1_section2{
height: 90vh;
width: 92vw;
/* background-color: rgb(118, 17, 96); */
display: flex;
}
.page1_section2_part1{
height: 90vh;
width: 46vw;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */
}

.page1_section2_part1 h1{
    font-size: 7vh;
    text-align: center;
    line-height: 8vh;
    padding-top: 10vh;
    font-weight: lighter;
}
.page1_section2_part1 p{
 font-size: 3vh;
 padding-left: 15vh;
 padding-right: 15vh;
 text-align: center;
 padding-top: 3vh;
}

.page1_section2_part1_btns{
   margin-top: 6vh; 
   font-size: 2vh;
   border-radius: 1vh;
   border: none;
}
#Enroll_Now{
margin-right: 2vh;
padding-left: 3vh;
padding-right: 3vh;
padding-top: 1vh;
padding-bottom: 1vh;
box-shadow: 0px 0px 25px 5px rgb(239, 99, 236);
background-color:rgb(192, 52, 190) ;
color: white;
font-size: 2.4vh;
}
#whats_Etech{
    margin-left: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0px 0px 2px 2px rgb(239, 99, 236);
}
.ri-play-circle-fill{
    margin-right: 1vh;
    font-size: 2.5vh;
}




/* page1_section2_part2 */

.page1_section2_part2{
    height: 90vh;
    width: 46vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1_section2_part2 img{
 height: 90%;
 width: 90%;
 object-fit: cover;
 object-position: center;
 border-radius: 50%;
 box-shadow: 0px 0px 10px 5px rgb(73, 69, 69);
}







/* page2 start here */


 .page2{
    height: 10vh;
    width: 92vw; 
    background-color: deeppink; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
.page2 img{
 height: 100%;
 width: 100%;
 object-position: center;
 object-fit: cover;
}


/* page3 start here  */

.page3{
    height: 100vh;
    width: 92vw;
    border: 0.3vh solid rgb(214, 107, 228)

}
.page3_top{
    height: 25vh;
    width: 92vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3_top_part1 h1{
  font-size: 6vh;
  padding-bottom: 2.5vh;
}
.page3_top_part2{
    display: flex;
    align-items: center;
    gap: 3vh;
    
}
.courses_input{
    border: 0.1vh solid black;
    gap: 1vh;
    background-color: white;
    padding-left: 2vh;
    padding-right: 7vh;

    border: none;
    display: flex;
    align-items: center;
    border-radius: 1vh;
}
.ri-search-line{
    font-size: 2.5vh;
}
.page3_top_part2 input{
 /* padding-left: 5vh; */
 /* padding-right: 2vh; */
 padding-top: 1.5vh;
 padding-bottom: 1.5vh;
 font-size: 2vh;
 border-radius: 1.5vh ;
 border: none;
 margin-right: 2vh;
}
.page3_top_part2 button{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 2vh;
    border-radius: 1.5vh ;
    border: none;
    margin-right: 2vh;
}

#search{
    background-color: rgb(200, 116, 186);
}


.page3_botom{
    height: 75vh;
    width: 92vw;
    /* background-color: coral; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}



.page3_botom_left{
height: 70vh;
width: 40vw;
/* background-color: blue; */
display: flex;
justify-content: center;
align-items: center;
}

.images_box{
    height: 68vh;
    width: 42vw;
    /* background-color: cornflowerblue; */
    display: grid;
    grid-template-rows: repeat(2,300px);
    grid-template-columns: repeat(2,380px);
    justify-content: center;
    row-gap: 2vh;
    column-gap: 2vh;
}


.img_item{
    /* background-color: chartreuse;  */
}
.imgitem1{
    border-bottom-right-radius: 50%;
}
#img1 img{
    border-bottom-right-radius: 50%;
}


.imgitem2{
    border-bottom-left-radius: 50%;
}
#igm2 img{
    border-bottom-left-radius: 50%;
}

.imgitem3{
    border-top-right-radius: 50%;
}
#img3 img{
    border-top-right-radius: 50%;
}

.imgitem4 {
    border-top-left-radius: 50%;
}

#img4 img{
    border-top-left-radius: 50%;
}
.img_item img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: calc();
}









.page3_botom_right{
    height: 70vh;
    width: 45vw;
    background-color: rgba(211, 50, 220, 0.566);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benifit_1{
    font-size: 3.5vh;
    padding-right: 15vh;
    padding-bottom: 2vh;
}
.benifit_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.benifit_2 p{
    font-size: 20px;
}
.benifit_2 h2{
    font-size: 28px;
}
.ri-graduation-cap-fill{
    font-size: 5vh;
}

.benifit_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.benifit_3_part1{
    font-size: 5vh;
}
.benifit_3 p{
    font-size: 20px;
}
.benifit_3 h2{
    font-size: 28px;
}

.benifit_4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.ri-user-fill{
    font-size: 5vh;
}
.benifit_4 p{
    font-size: 20px;
}
.benifit_4 h2{
    font-size: 28px;
}
.benifit_5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.benifit_5_part1{
    font-size: 5vh;
}
.benifit_5 p{
    font-size: 20px;
}
.benifit_5 h2{
    font-size: 28px;
}

/* page-4 start here */




.page_4{
    height: 90vh;
    width: 92vw;
    background-image: linear-gradient(to right ,blueviolet,rgb(163, 60, 115));
    /* background-image:radial-gradient( circle,blue,red); */
}
.page_4_top{
 height: 30vh;
 width: 92vw;
 /* background-color: blueviolet; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.page_4_top h4{
text-align: center;
font-size: 3.2vh;
color: white;
}

.page_4_top p{
text-align: center;
color: white;
font-size: 2vh;
padding-top: 1vh;
line-height: 2vh;
}




/* page 4 bottum part */
.page_4_bottum{
  height: 60vh;
  width: 92vw;
  background-color:;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 5vh;
}



.web_design_1{
 height:50vh;
 width: 20vw;
 background-color: rgb(255, 255, 255);
}

.webdesign_part_1{
height: 20vh;
width: 20vw;
/* background-color: blue; */
}
.webdesign_part_1 img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}


.webdesign_part_2{
    height: 7vh;
    width: 20vw;
    /* background-color: rgb(86, 87, 58);  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vh;
    padding-right: 1vh;

}

.web-design-left{
background-color:rgb(187, 130, 240) ;
border-radius: 0.5vh;
padding-left: 1vh;
}
.ri-checkbox-blank-circle-fill{
    color: blueviolet;
}
.web-design-left button{
    padding-left: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vh;
    padding-top: 0.5vh;
    font-size: 20px;
    border: none;
    border-bottom-right-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    background-color:rgb(187, 130, 240) ;
}

.rank-star{
background-color: rgb(170, 97, 239);
padding: 0.5vh;
font-size: 20px;
border-radius: 0.2vh;
}
.ri-gemini-fill{
    color: yellow;
    padding-right: 1vh;
}


.webdesign_part_3{
 height: 7.5vh;
 width: 20vw;
 /* background-color: rgb(70, 127, 5); */
 display: flex;
 align-items: center;
 padding-left: 0.2vh;
}
.webdesign_part_3 p{
    font-size: 2.3vh;
    font-weight:bold ;
    padding-left: 1vh;
}



.webdesign_part_4{
    height: 7.5vh;
    width: 20vw;
    /* background-color: rgb(180, 0, 75); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 1vh;
}
.webdesign_part_5{
    height: 8vh;
    width: 20vw;
    /* background-color: rgb(0, 122, 155);   */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 1vh;
}

.j-morgon{
    display: flex;
    gap: 0.5vh;
    align-items: center;
}
.j-morgon img{
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
    object-position: calc();
    object-fit: cover;
}



.web_design_2{
    height:50vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);  
}
.web_design_3{
    height:50vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
}





/* page 5 start here !! */
.page_5{
    height:80vh ;
    width: 92vw;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid  rgb(170, 97, 239);
    border-right: 2px solid  rgb(170, 97, 239);
    display: flex;
}
.page_5_left_part{
    height:80vh ;
    width: 46vw;
    /* background-image: linear-gradient(to left , blue,yellow); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_1{
padding-right: 11vh;
font-size: 3vh;
}
.text_2{
     padding-left: 20vh;
     padding-right: 20vh;
     padding-top: 2vh;
     padding-bottom: 1vh;
     text-align: left;
}
.text_2 p{
    font-size: 20px;
}

.text_3{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.text_3 h5{
    font-size: 30px;
    padding-right:30vh;
}
.text_4{
    display: flex; 
    padding-right: 3vh;
    gap: 10vh;
}
.text_4 p{
    line-height: 2.5vh;
}
.ri-circle-fill{
    color: rgb(130, 3, 249);
}
.text_5{
    padding-top: 5vh;
    padding-bottom: 2vh; 
    padding-right: 12vh;
}

.text_5 button{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1.5vh;
    padding-bottom:1.5vh ;
    border: none;
    background-color: rgb(147, 59, 228);
    border-radius: 1vh;
    font-size: 2.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.page_5_right_part{
    height:80vh ;
    width: 46vw;
    /* background-image: radial-gradient(circle,deeppink,green); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_5image_box{
    height:60vh ;
    width: 25vw;
    background-color: blueviolet;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.page_5image_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}




/* page-6 start here */

.page_6{
    height: 80vh;
    width: 92vw;
    background-image:linear-gradient(to left,rgba(0, 0, 255, 0.616),rgba(255, 20, 145, 0.612)) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_6_top{
height: 40vh;
width:92vw;
/* background-color: blue; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.page_6_top h5{
 font-size: 4vh;
 padding-bottom: 5vh;
}
.page_6_top p{
    text-align: center;
    font-size: 2.5vh;
    display: flex;
}



.page_6_bottum{
    height: 40vh;
    width: 92vw;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 15vh; */
}

.card_div{
    display: flex;
    gap: 15vh;
    justify-content: center;
    padding-left: 13vh;
}
.para_div{
display: flex;
justify-content: center;
align-items: center;
margin-top: 10vh;
font-size: 3vh;
}
.card_box_1{
 height: 20vh;
 width: 20vw;
 background-color: rgb(255, 255, 255);
 border-radius: 1.5vh;
}


.card_box_1_top{
    display: flex;
    /* background-color: red; */
    align-items: center;
    gap: 4vh;

}
.alexaimg img{
height: 90px;
width: 90px;
border-radius: 50%;
object-fit: cover;
object-position: center;
padding-left: 0.5vh;
padding-top: 0.5vh;
}
.about_alexa{
font-size: 20px;
}

.card_box_1_bottum p{
text-align: left;
/* padding-top: 1vh; */
padding-bottom: 1vh;
padding-left: 0.5vh;
padding-right: 0.5vh;
font-size: 2vh;
line-height: 1.8vh;
font-weight: lighter;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ri-star-s-fill{
    color: rgb(223, 223, 8);
}

.card_box_2{
    height: 20vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5vh;
}

.card_box_3{
    height: 20vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5vh;
}

