*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    
}
.page1{
    height: 100vh;
    width: 92vw;
    /* background-color: rgb(65, 0, 97); */
    /* border: 0.5vh solid rgb(255, 59, 59); */
}
.page1_section1{
height: 10vh;
width: 92vw;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: space-between;
}
.page1_section1_part1 h1{
  padding-left: 15vh;
}
.page1_section1_part2 ul{
    display: flex;
    gap: 8vh;
    list-style: none;
    font-size: 2.5vh;
}
.page1_section1_part3 {
    padding-right: 15vh;
    }
.page1_section1_part3 .navP_btns{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
    border: none;
    border-radius: 1vh;
}

#Sign_In{
background-color: azure;
color: black;
margin-right: 1vh;
border: 0.4vh solid rgb(239, 99, 236) ;
}
#Free_trial{
   background-color: rgb(239, 99, 236);
}





/* page1_section2 */

.page1_section2{
height: 90vh;
width: 92vw;
/* background-color: rgb(118, 17, 96); */
display: flex;
}
.page1_section2_part1{
height: 90vh;
width: 46vw;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */
}

.page1_section2_part1 h1{
    font-size: 7vh;
    text-align: center;
    line-height: 8vh;
    padding-top: 10vh;
    font-weight: lighter;
}
.page1_section2_part1 p{
 font-size: 3vh;
 padding-left: 15vh;
 padding-right: 15vh;
 text-align: center;
 padding-top: 3vh;
}

.page1_section2_part1_btns{
   margin-top: 6vh; 
   font-size: 2vh;
   border-radius: 1vh;
   border: none;
}
#Enroll_Now{
margin-right: 2vh;
padding-left: 3vh;
padding-right: 3vh;
padding-top: 1vh;
padding-bottom: 1vh;
box-shadow: 0px 0px 25px 5px rgb(239, 99, 236);
background-color:rgb(192, 52, 190) ;
color: white;
font-size: 2.4vh;
}
#whats_Etech{
    margin-left: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0px 0px 2px 2px rgb(239, 99, 236);
}
.ri-play-circle-fill{
    margin-right: 1vh;
    font-size: 2.5vh;
}




/* page1_section2_part2 */

.page1_section2_part2{
    height: 90vh;
    width: 46vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1_section2_part2 img{
 height: 90%;
 width: 90%;
 object-fit: cover;
 object-position: center;
 border-radius: 50%;
 box-shadow: 0px 0px 10px 5px rgb(73, 69, 69);
}







/* page2 start here */


 .page2{
    height: 10vh;
    width: 92vw; 
    background-color: deeppink; 
    display: flex;
    align-items: center;
    justify-content: center;
} 
.page2 img{
 height: 100%;
 width: 100%;
 object-position: center;
 object-fit: cover;
}


/* page3 start here  */

.page3{
    height: 100vh;
    width: 92vw;
    border: 0.3vh solid rgb(214, 107, 228)

}
.page3_top{
    height: 25vh;
    width: 92vw;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3_top_part1 h1{
  font-size: 6vh;
  padding-bottom: 2.5vh;
}
.page3_top_part2{
    display: flex;
    align-items: center;
    gap: 3vh;
    
}
.courses_input{
    border: 0.1vh solid black;
    gap: 1vh;
    background-color: white;
    padding-left: 2vh;
    padding-right: 7vh;

    border: none;
    display: flex;
    align-items: center;
    border-radius: 1vh;
}
.ri-search-line{
    font-size: 2.5vh;
}
.page3_top_part2 input{
 /* padding-left: 5vh; */
 /* padding-right: 2vh; */
 padding-top: 1.5vh;
 padding-bottom: 1.5vh;
 font-size: 2vh;
 border-radius: 1.5vh ;
 border: none;
 margin-right: 2vh;
}
.page3_top_part2 button{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 2vh;
    border-radius: 1.5vh ;
    border: none;
    margin-right: 2vh;
}

#search{
    background-color: rgb(200, 116, 186);
}


.page3_botom{
    height: 75vh;
    width: 92vw;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}



.page3_botom_left{
height: 70vh;
width: 45vw;
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}

.images_box{
    height: 68vh;
    width: 42vw;
    background-color: cornflowerblue;
}



.page3_botom_right{
    height: 70vh;
    width: 45vw;
    background-color: brown;
}